<!--The content below is only a placeholder and can be replaced.-->

<h3 id = 'total'>Total Gold: {{gold}}</h3>

<div class = 'location'>
    <h2>Farm</h2>
    <h4>Earns 2-5 gold</h4>
    <button (click) = 'farm()'>Farm!</button>
</div>

<div class = 'location'>
    <h2>Cave</h2>
    <h4>Earns 5-10 gold</h4>
    <button (click) = 'cave()'>Cave!</button>
</div>

<div class = 'location'>
    <h2>House</h2>
    <h4>Earns 7-15 gold</h4>
    <button (click) = 'house()'>House!</button>
</div>

<div class = 'location'>
    <h2>Casino</h2>
    <h4>Earn or lose up to 100 gold</h4>
    <button (click) = 'casino()'>Casino!</button>
</div>

<div id = 'activityLog'>
    <h2>Activity Log</h2>
    <p *ngFor = 'let event of events'>{{event}}</p>
</div>

<router-outlet></router-outlet>
